<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playbook</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono" rel="stylesheet">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            background-color: #efefff;
        }
        body {
            padding: 2ex 2em;
        }
        * {
            font-family: 'Roboto', sans-serif;
        }
        h1, h2, h3, h4, h5, h6 {
            margin: 0 0 0.4em;
            padding: 0 0 0.4em;
            font-family: 'Roboto Condensed', serif;
            letter-spacing: -0.5px;
            font-weight: normal;
            border-bottom: 1px solid #bbb;
        }
    </style>
</head>
<body>
    <h1>Provisioning a New Environment</h1>
        <h2>Prerequisites</h2>
        <p>A brain.</p>
    
</body>
</html>